* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
}


/* Navbar */

nav {
    width: 100vw;
    border-radius: none;
    position: sticky;
    top: 0;
    z-index: 100;
}

.primary-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav a {
    color: white;
}


/* Hamburger-icon */

.fa-solid {
    cursor: pointer;
    padding: 0.7rem;
    color: white;
}